.userShow
  .userProf
    .userProf__img
      =image_tag 'https://static.mercdn.net/images/member_photo_noimage_thumb.png',alt:"pict-reason01",class:"list-image1"
    .userProf__name
      = current_user.nickname
  .userContents
    .userContent
      .userContent__sell
        = link_to new_item_path do
          出品する
    .userContent
      .userContent__bought
        = link_to '#' do
          購入した商品
    .userContent
      .userContent__like
        = link_to '#' do
          いいね！一覧
    .userContent
      .userContent__card
        = link_to new_credit_card_path do
          クレジットカード情報
    .userContent
      .userContent__prof
        = link_to '#' do
          プロフィール
    .userContent
      .userContent__mail
        = link_to '#' do
          メール/パスワード
    .userContent
      .userContent__telephone
        = link_to '#'do
          電話番号の確認
    .userContent
      .userContent__logout
        = link_to logout_users_path do
          ログアウト