%header.loginHeader
  .login-header-logo
    =link_to root_url do
      =image_tag 'logo/logo.png',alt:"furima-logo",size:"185x49"
.menberForm
  .menberForm__content
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field-password
        = f.label :password, "パスワード"
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .actions-login
        = f.submit class: 'btn-green-login', value:"ログイン"
