.buyPage
  .buyPage__logo
    =link_to root_path do
      = image_tag "logo/logo.png", size: '140x40', class: 'image'
  .buyItem
    .buyItem__confirmation
      .confirmation
        購入が完了しました
    .buyItem__main
    .buyItem__main__info
      .info__image
        = image_tag @item.photos.first.image.url
      .info__detail
        .name
          #{@item.name}
        %br
        .postage
          送料込み(税込) #{@item.price}円
          %span.price
    .buyItem__main__total-price
      .total-price__table
        .payment
          支払い金額 #{@item.price}円
        .total-price
   
      
       

