!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FleamarketSample77b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
.buyPage
  .buyPage__logo
    =link_to "#" do
      = image_tag "logo/logo.png", size: '140x40', class: 'image'
  .buyItem
    .buyItem__confirmation
      .confirmation
        購入内容の確認
    .buyItem__main
    .buyItem__main__info
      .info__image
        = image_tag @item.photos.first.image.url
      .info__detail
        .name
          #{@item.name}
        %br
        .postage
          送料込み(税込) #{@item.price}円
          %span.price
            
    .buyItem__main__total-price
      .total-price__table
        .payment
          支払い金額 #{@item.price}円
        .total-price
    .buyItem__main__method
      .method__table
        %h3 支払い方法
        .update
          = link_to "変更する", "#", class: "update-btn"
        .info-number
          = "**** **** **** " + @default_card_information.last4
          .info-date
            有効期限
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
    .buyItem__main__user-info
      .user-info__table              
        %h3 配送先
        .update
          = link_to "変更する", "#", class: "update-btn"
        .info-text
          〒#{zipoutput(current_user.address.zip_code)}
          %br
          =current_user.address.prefecture
          =current_user.address.city
          =current_user.address.house_number
          %br
          = form_tag(action: :pay, method: :post) do
            %button 購入する

