.searchpage
  .searchContainar
    .searchContainar__left
      .search
        = search_form_for(@search,url: searches_path) do |f|
          .search__statem
            =icon("fas", "plus",class:"search__statem--icon")
            キーワード
          = f.search_field :name_cont, placeholder: "例）値下げ", class: "input"
          .search__statem
            =icon("fas", "list",class:"search__statem--icon")
            カテゴリを選択する
          %input
          .search__statem
            =icon("fas", "tags",class:"search__statem--icon")
            ブランドを選択する
          %input
          .search__statem
            =icon("fas", "coins",class:"search__statem--icon")
            価格
          = f.search_field :price_lteq, placeholder: "¥9,999,999まで"
          = button_tag type:'submit',class:'search__btn' do
            検索する
    .searchContainar__right
      .result
        .result__title
          .result__title--content
            = params[:q][:name_cont]
          .result__title--later
            の検索結果
          .result__title--number
            ="#{@items.count}件表示"
        .result__items
          = render partial: "item", collection: @items
