.topVisual
  .topVisualInner
    %h2{class:"topVisualInner__title"} 
      %br
      人生を変えるフリマアプリ
    %p{class:"topVisualInner__text"}
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .topVisualInner__btns
      =link_to '#' do
        %img{class:"topVisualInner__btn",src:"http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"}
      =link_to '#' do
        %img{class:"topVisualInner__btn topVisualInner__btn--right",src:"http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"}
.topintroduction
  .subtitle
    FURIMAが選ばれる３つの理由
  .subtitle-under
  .lists
    .list
      %span.number
        1
      %img{:src => "http://furima.tokyo/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg"}/
      .text
        %h2 
          3分 
          %span ですぐに出品
        %h3 スマホで入力するだけで簡単に出品できる！
    .list
      %span.number
        2
      %img{:src => "http://furima.tokyo/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg"}/
      .text
        %h2
          シンプル
          %span で使いやすい
        %h3 めんどくさい入力は必要なく、検索も購入もスムーズ！
    .list
      %span.number
        3
      %img{:src => "http://furima.tokyo/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg"}/
      .text
        %h4
          手数料
          %span 業界最安
        %h3 最大3%でお得に出品&購入！
.topMiddleDl
  .topMiddleDl_inner
    .subtitle
      会員数日本一位
    .text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      欲しかったあの商品にも出会えるかもしれません。
    .btn
      =link_to '#' do
        %img{:src => "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"}/
      =link_to '#' do
        %img{:src => "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"}/


.topkeyfeatures
  .subtitle
    FURIMAの特徴
  .subtitle-under
  .lists
    .list
      %img{:src => "http://furima.tokyo/assets/icon-01-7f6abf70ea7deaed9ab5d8b6d5cb796250e3e292b9ecdc559ebe6492c31fdab8.svg"}/
      %h2 簡単に売り買いできる
      %h3 スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .list
      %img{:src => "http://furima.tokyo/assets/icon-03-9c0d78266a316fec7b738dcf5c68dd987afb9655b13fd2cd5d30bcf09e827694.svg"}/
      %h2 売上金は即日振込みに対応
      %h3 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .list
      %img{:src => "http://furima.tokyo/assets/icon-04-c4052f85cd6e1f62ea8cac8c55277d7fa4bda971d924f8a2afe72eea6558fa85.svg"}/
      %h2 様々な支払いに対応
      %h3 お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  
.pickupContainer
  .head
    ピックアップカテゴリー
  .productBox
    .productHead
      =link_to '#' do
        新規投稿商品
    .productLists
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)

.pickupContainer.pickupContainer--lower
  .head
    ピックアップブランド
  .productBox
    .productHead
      =link_to '#' do
        アーカイバ
    .productLists
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
      .productList
        =link_to '#' do
          .productList-img
            %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
          .productList-body
            .name
              name
            .details
              %ul
                %li 0000円
                %li 
                  = icon('fas', 'star', class: 'icon')
                  .like 0
              %h4 (税込)
