- breadcrumb :itemparents
- breadcrumb :itemchildren
- breadcrumb :itemgrandchildren
= render "layouts/breadcrumbs"
.itemMain
  .itemContent
    .itemContent-top
      .itemContent-top__item
        %h2.itemContent-top__item--name
          = @item.name
        .itemContent-top__item--photo
          %ul
            %li
              = image_tag @item.photos.first.image.url
              %ul
                %div.imagebox
                  - @item.photos.each do |photo|
                    %li
                      = image_tag photo.image.url
        .itemContent-top__item--price
          %span
            ¥
            = @item.price
          .detail
            %span
              (税込)
            %span
              送料込み
          %div
          -if current_user && @item.purchaser_id.nil? && @item.user_id != current_user.id
            = link_to purchase_path(@item) do
              .buybutton
                購入画面に進む
        .itemContent-top__item--explanatory
          = @item.description
        .itemContent-top__item--table
          %table
            %tr
              %th 出品者
              %td
                = @item.user.nickname
            %tr
              %th カテゴリー
              %td
                = link_to @item.category.parent.parent.name, category_path(@item.category.parent.parent)
                %br/
                = link_to @item.category.parent.name, category_path(@item.category.parent)
                %br/
                = link_to @item.category.name, category_path(@item.category)
            %tr
              %th ブランド
              %td
                - if @item.brand
                  = @item.brand
            %tr
              %th 商品のサイズ
              %td
                - if @item.size_id
                  = Size.find(@item.size_id).name
            %tr
              %th 商品の状態
              %td 
                = ItemCondition.find(@item.item_condition_id).name
            %tr
              %th 配送料の負担
              %td
                = Burden.find(@item.burden_id).name
            %tr
              %th 発送元の地域
              %td
                = Prefecture.find(@item.prefectures_id).name
            %tr
              %th 発送日の目安
              %td
                = Days.find(@item.days_id).name

        .itemContent-top__item--option
          %ul
            %ul#favoriteBtn
              = render partial: 'favorites/favorite', locals: { item: @item}
          %ul.report
            %li.reportBtn
              = link_to "#" do
                %i.fa.fa-flag
                不適切な商品の通報
        -if current_user && @item.purchaser_id.nil? && @item.user_id == current_user.id
          =link_to edit_item_path(@item) do
            .editbutton
              商品を編集する
          =link_to item_path(@item), method: :delete  do
            .deletebutton
              商品を削除する
      .itemContent-top__comment
        = form_with url: "#" do |form|
          = form.text_area :kari , class: "textarea"
          %p.notice 相手のことを考え丁寧なコメントを心がけましょう。</br> 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag type: 'submit', class: "btn" do
            %i.fa.fa-comment
            コメントする
    .itemContent-bottom
      %ul.itemContent-bottom__link
        %li.itemContent-bottom__link--left
          - if @item.previous.present?
            = link_to item_path(@item.previous.id) do
              %i.fa.fa-angle-left
              前の商品
        %li.itemContent-bottom__link--right
          - if @item.next.present?
            = link_to item_path(@item.next.id) do
              後ろの商品
              %i.fa.fa-angle-right
    .itemContent-bottom__related
      .categoryName
        = link_to "#{@item.category.parent.parent.name}をもっと見る", category_path(@item.category.parent.parent)
      - if @items
        %ul.lists
          = render "layouts/items-contents", items: @items