- if @category.root?
  - breadcrumb :parents
- elsif @category.has_children?
  - breadcrumb :children
- else
  - breadcrumb :grandchildren
= render "layouts/breadcrumbs"
.categoryShow 
  .categoryName
    .categoryNamelist
      - @categorylists.each do |category|
        = link_to category.name, category_path(category)
  .categoryItem
    .categoryItemlist
      .name
        = "#{@category.name}の商品一覧"
        .title__border
      - if @items
        %ul.lists
          = render "layouts/items-contents", items: @items
      = paginate @items