.header
  .header__contents
    .headerUpper
      =link_to root_url do
        =image_tag 'logo/logo.png',alt:"header-logo",class:"headerUpper__logo"
      = search_form_for @search,url: searches_path do |f|
        .headerUpper__form
          = f.search_field :name_or_description_cont,{class:"headerUpper__input",placeholder:"キーワードから探す"}
          = button_tag type:'submit',class:'headerUpper__btn' do
            = image_tag"icon/icon-search1.png",class: 'headerUpper__btnicon'
    .headerUnder
      %ul.headerCategory
        %li
          =link_to "カテゴリーから探す", categories_path
          %ul
            - if @parents
              - @parents.each do |parent|
                %li
                  = link_to "#{parent.name}", category_path(parent)
                  %ul
                    - parent.children.each do |child|
                      %li
                        = link_to "#{child.name}", category_path(child)
                        %ul
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#{grandchild.name}", category_path(grandchild)
        .brand 
          =link_to "ブランドから探す", "#"
      -if current_user
        %ul.userpage
          %li.left 
            =link_to "マイページ","/users/show"
          %li.right
            =link_to "ログアウト",destroy_user_session_path, method: :delete
      -else
        %ul.userpage
          %li.left
            =link_to "ログイン",new_user_session_path
          %li.right
            =link_to "新規会員登録",new_user_registration_path
