!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FleamarketSample77b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    -if current_user
      =link_to new_item_path do
        .exhibitionBtn
          .exhibitionBtn__text
            出品する
          =image_tag 'icon/icon_camera.png',size:"54x54",alt:"icon_camera",class:"exhibitionBtn__icon"
    -else
      =link_to new_user_session_path do
        .exhibitionBtn
          .exhibitionBtn__text
            出品する
          =image_tag 'icon/icon_camera.png',size:"54x54",alt:"icon_camera",class:"exhibitionBtn__icon"